<template>
  <div :style='this.character.style' class="cellImgWrapper">
  <div>
    <img class="grassImg" src="../assets/grass.png">
    <img class="icon" :src="require('../assets/' + info.image + '.png')">
  </div>
  </div>
</template>

<script>
import Piece from './Piece.vue'
export default {
  extends: Piece,
  name: 'Archer',
  data: () => ({
    info: {
      image: "high-shot",
      archetype: {
        name: 'Archer',
        health: 60,
        movement: 1,
        player: null,
        physicalDefence: 5,
        magicalDefence: 3,
        range: 3,
        damage: 35,
        movementToken: 1,
        damageType: 'phys',
      },
      hasMoved: false,
      style: 'border:1px solid black',
      hasAttacked: false
    },
    baseHP: 60
  }),
  methods: {
    attack: function (iconXPosition,iconYPosition) {
      let attackPossibilities=[]
      for (let i = iconXPosition - this.info.archetype.range; i < iconXPosition + this.info.archetype.range + 1; i++) {
        for (let j = iconYPosition - this.info.archetype.range; j < iconYPosition + this.info.archetype.range + 1; j++) {
          if ((Math.abs(iconXPosition - i) + Math.abs(iconYPosition - j)) == this.info.archetype.range && ((0<i && i<9) && (0<j && j<9)))
          {
            attackPossibilities.push([{xPosition:i,yPosition:j}])
          }
        }
      }
      return attackPossibilities
    },
  },
  mounted: function () {
    if (!this.character.player)
    {
      this.info.image='high-shot-blue'
      this.info.archetype.player=false
    }
    else {
      this.info.archetype.player=true
    }
  }
}
</script>

<style>
.cellImgWrapper {
  position: relative;
  height: 82.5px;
  width: 82.5px
}

.icon {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px
}
</style>
