<template>
  <div :style='this.character.style' class="cellImgWrapper">
  <div>
    <img class="grassImg" src="../assets/grass.png">
    <img class="icon" :src="require('../assets/' + info.image + '.png')">
  </div>
  </div>
</template>

<script>
import Piece from './Piece.vue'
export default {
  extends: Piece,
  name: 'Bishop',
  data: () => ({
    info: {
      image: "pope-crown",
      archetype: {
        name: 'Bishop',
        health: 50,
        movement: 1,
        player: null,
        physicalDefence: 2,
        magicalDefence: 10,
        range: 1,
        damage: 30,
        movementToken: 1,
        damageType: 'mag',
      },
      hasMoved: false,
      style: 'border:1px solid black',
      hasAttacked: false
    },
    baseHP: 50
  }),
  mounted: function () {
    if (!this.character.player)
    {
      this.info.image='pope-crown-blue'
      this.info.archetype.player=false
    }
    else {
      this.info.archetype.player=true
    }
  }
}
</script>

<style>
.cellImgWrapper {
  position: relative;
  height: 82.5px;
  width: 82.5px
}

.icon {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px
}
</style>
